@model IEnumerable<CrimeRecordManager.Models.CriminalDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="criminal-index-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CrimeDetail.CrimeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliceStation.PoliceStationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriminalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldRecord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CrimeDetail.CrimeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoliceStation.PoliceStationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriminalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldRecord)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section styles{
    <link href="~/Content/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#criminal-index-table').DataTable();
        });
    </script>
}

