@model CrimeRecordManager.Models.PoliceStation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PoliceStation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplaintRegistration.ComplainBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintRegistration.ComplainBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceStationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceStationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
